{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="py-5 text-center" style="background-image: url('{% static 'img/mac-keyboard.jpg' %}');background-size:cover;">
  <div class="container">

    {% if form.errors %}
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4 class="alert-heading">Login Failed</h4>
          <p class="mb-0">Your username and password didn't match. Please try again.</p>
        </div>
      </div>
    </div>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Access Denied!</h4>
            <p class="mb-0">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-primary" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Login Required</h4>
            <p class="mb-0">Please login to see this page.</p>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}

    <div class="row">
      <div class="mx-auto col-md-6 col-10 bg-white p-5">
        <h1 class="mb-4">Log in</h1>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group"> <input type="text" name="username" class="form-control" placeholder="Enter username" id="form9"> </div>
          <div class="form-group mb-3"> <input type="password" name="password" class="form-control" placeholder="Password" id="form10"> <small class="form-text text-muted text-right">
            </small> </div> <button type="submit" value="login" class="btn btn-primary">Submit</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
