{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="py-5 text-white"
  style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url({% static 'img/networking.jpg' %});  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 p-0">
        <div class="p-5 col-lg-7 d-flex flex-column justify-content-center">
          <h3 class="display-4 mb-3">Error 404</h3>
          <p class="lead mb-0"></p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
